.animate-in {
	animation: in 1s cubic-bezier(0, 0, 0.2, 1) 1;
}

@keyframes in {
	0% {
		transform: scale(2);
		opacity: 0;
	}
	75%,
	100% {
		transform: scale(1);
		opacity: 100;
	}
}

.champ-tile:hover {
	cursor: url(https://brand.riotgames.com//images/league-of-legends/cursor-pointer.png),
		auto;
}
